
header .author i{
  font-size: 20px;
  border: 1px solid #2b2b2b;
  padding: 6px 8px;
}

header .drop-authur {
  display: none;
  width: 150px;
  min-height: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  top: 100%;
  left: -10px;
}

header .author:hover .drop-authur{
  display: block;
  animation: dropdown .3s ease-in;
}


@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
