* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container */
.container-md {
  max-width: 1140px;
  margin: 0 auto;
}

.container-sm {
  max-width: 768px;
  margin: 0 auto;
}

/* Layout */
.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}
.w-50{
  width: 50%;
}


/* Heading */
.title {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, .h2 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.75rem;
}

/* Text */
.font-thin {
  font-weight: 400;
}

.font-medium {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.decoration-none {
  text-decoration: none;
}

/* padding */
.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-4 {
  padding: 16px;
}
.py-4 {
  padding: 16px 0px;
}

/* margin */
.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}

.my-2 {
  margin: 8px 0px;
}

.bg-red {
  background-color: rgb(203, 0, 0);
}

.border-none {
  border: none;
}

.rounded-sm {
  border-radius: 5px;
}

/* button */ 


/* link */
a:hover {
  text-decoration: underline;
}

/* postion */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* customize */
.btn-full {
  padding: 10px 0px;
}
.btn-full:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: pointer;
}

